:root {
    --titleColor: #1E0342;
    --textColor: #0E46A3;
    --secondaryBackgroundColor: #E1F7F5;
    --primaryBackgroundColor: #9AC8CD;
    /* Above is the color pallet I chose to use for my website */
}

/* setting global css */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--titleColor);
    margin: 0;
}